<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<br>
<br>


<div class="card">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Blog by: <%=  docs.author.username %> </a></li>
    <li class="breadcrumb-item"><a href="#">Destination:<%= docs.destination %> </a></li>
    
  </ol>
</nav>

</div>


<div class="container">
<div class="jumbotron">
  <h1 class="display-4"> <%= docs.title %> </h1>
  <p class="lead" style="font-size: 20px"><%= docs.about_trip %></p>
  <p class="lead" style="font-size: 20px"><%= docs.food_section %></p>
  <hr class="my-4">
  <p><%= docs.best_spot %></p>
</div>
</div>

<!--     <li><b><%=  docs.author.username %></b></li>
	<li> <%= docs.destination %> </li>
	<li> <%= docs.title %> </li>
	<li> <%= docs.about_trip %> </li>
	<li> <%= docs.food_section %> </li>
	<li> <%= docs.best_spot %> </li> -->


<div class="container">
   <% if(currentUser==undefined) { %>
 <p>Login to post a comment</p>
 <%}else {%>
<form  action="/home/<%= docs._id %>/comment" method="POST">
  <div class="form-group row">
    <div class="col-sm-10">
      <p>Comment</p><input type="text" name="comment" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
      
    </div>
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
</div>
<%}%>


<!-- 
  <% docs.comments.forEach(function(comment) { %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="pull-right">10 days ago</span>
              <p>
                <%= comment.comment%>
              </p>
          </div>
      </div>
<%}) %> -->
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <h6>Comments</h6>
  <div class="container">
      <% docs.comments.forEach(function(comment) { %>
    <strong><%= comment.author.firstname %><span><%= comment.author.lastname %></span>:-</strong>
    <p style="font-size: 15px; ">   <%= comment.comment%> </p>
<form action="/home/<%= docs._id %>/<%=comment._id%>/?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
   <a href="/reply/<%=docs._id%>/<%=comment._id%>">reply</a>
   <br>
    <%}) %>
</div>
  </div>
</div>









<div class="container">	
<% if(currentUser== undefined){ %>
	<a href="/home"><button>Back to Home</button></a>
<% }else{ %>

<% if(currentUser.username == docs.author.username){ %>
<a href="/home"><button>Back to Home</button></a>
<a href="/home/<%= docs._id %>/edit"><button type="button" class="btn btn-info">EDIT</button></a>
<a href="/home/<%= docs._id %>/delete"><button type="button" class="btn btn-danger">DELETE</button></a>
<% }else{ %>
<a href="/home"><button type="button" class="btn btn-primary">BACK TO HOME</button></a>
<% }%>
<% }%>
</div>
	
	


</body>
</html>